@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 94 98% 44%;
    --primary-dark: 88 100% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 199 92% 54%;
  }
}
